<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="Clean All Command"
            id="ultraclean.commands.refreshAndCleanAllCommand">
      </command>
      <command
            id="ultraclean.commands.refreshAndCleanProjectCommand"
            name="Clean Project Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="ultraclean.commands.refreshAndCleanAllCommand"
            class="ultraclean.handlers.RefreshAndCleanAllHandler">
      </handler>
      <handler
            class="ultraclean.handlers.RefreshAndCleanProjectHandler"
            commandId="ultraclean.commands.refreshAndCleanProjectCommand">
         <activeWhen>
            <reference
                  definitionId="ultraclean.projectSelected">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ultraclean.commands.refreshAndCleanAllCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M3+M4+c"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ultraclean.toolbars.maintoolbar">
            <command
                  commandId="ultraclean.commands.refreshAndCleanAllCommand"
                  icon="icons/edit-clear.png"
                  tooltip="Refresh, clean and rebuild workspace"
                  id="ultraclean.commands.refreshAndCleanAllCommand">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="ultraclean.commands.refreshAndCleanProjectCommand"
               icon="icons/edit-clear.png"
               id="ultraclean.commands.refreshAndCleanProjectCommand"
               label="Refresh and clean project">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ultraclean.projectSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabs">
      <tab
            class="ultraclean.launchconfiguration.LaunchConfigurationTab"
            group="org.eclipse.ant.ui.launchConfigurationTabGroup.ant"
            id="ultraclean.launchconfigurationtab"
            name="ultraclean.launchconfigurationtab">
         <placement
               after="org.eclipse.debug.ui.refreshTab">
         </placement>
      </tab>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ultraclean.EarlyStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ultraclean.projectSelected">
         <with
               variable="selection">
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false">
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
            </iterate>
         </with>
      </definition>
   </extension>

</plugin>
